/*
Author:
Date:
File Name: 
*/

/* CSS Reset */
body, main, footer, table {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Style rule for body */
body {
	background-color: #f4f9e1;
}

/* Style rule for the container */
#container {
	width: 80%;
	margin: 0 auto;
}

/* Style for the footer element */
footer {
	font-size: .70em;
	text-align: center;
}